@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.content {
  padding: 1rem;
}
.amplify-button[data-variation="primary"] {
  display: flex !important;
  margin: 2rem 0 !important;
  justify-content: center !important;
  background: #1877F2 !important;
  border-radius: 14px !important;
  height: 60px !important;
}
.amplify-tabs {
  display: none !important;
}

div[data-amplify-router-content] {
  position: relative !important;
}

.amplify-field__show-password {
  border: 0px !important;
  position: absolute !important;
    right: 35px !important;
    height: 10px !important;
    border: 0px !important;
}
.amplify-field__show-password:focus {
  box-shadow: none !important;
}
.amplify-input {
  border-radius: 40px !important;
  color: #808191 !important;
}
